*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
body{
  display: flex;
  width: 100vw;
  height: 100vh;
  padding-bottom: 2rem;
  overflow: hidden;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('./imagens/familia.png');
  background-color: #5d4037;
  background-repeat: no-repeat;
}
.container{
  width: 40vw;
  min-width: 350px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #efebe9;
  border: .2rem solid #3e2723;
  border-radius: .3rem;
}
#title{
  color: #3e2723;
  margin-bottom: .7rem;
  animation: move 1s .9 forwards;
}
.campo{
  width: 50%;
  animation: move3 1s .9 forwards;
}
i{
  color: #3e2723;
}
input{
  width: 100%;
  padding: .5rem;
  margin: .3rem 0;
  border: 1px solid #4e342e;
}
.btn{
  margin: 1rem 0;
  padding: .5rem .25rem;
  width: 50%;
  border-radius: .3rem;
  background: #3e2723;
  cursor: pointer;
  color: #ccc;
  
  transition: all .5s;
  animation: move2 1s .9 forwards;
}
.btn:hover{
  opacity: .9;
  box-shadow: .1rem .1rem .3rem #000;
}
@keyframes move{
  0%{
      transform: translateY(-10rem) rotateY(-30deg);
      opacity: 0;
  }
  100%{
      transform: translateY(0) rotateY(0);
      opacity: 1;
  }
}
@keyframes move2{
  0%{
      transform: translateY(10rem) rotateY(30deg);
      opacity: 0;
  }
  100%{
      transform: translateY(0) rotateY(0);
      opacity: 1;
  }
}
@keyframes move3{
  0%{
    transform: translateX(-5rem);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
.resultado p{
  animation: move2 1s .9 forwards;
}
@media (max-width: 950px){
  .container{
    width: 70vw;
  }
}
@media (max-height: 400px){
  body{
    overflow:visible;
    position: relative;
    padding: 0;
    margin: 0;
  }
  .container{
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
  }
}